<div class="container">
  <div
    class="btn"
    [ngClass]="{
      spredItems: itemA === true
    }"
  >
    <a
      ><div>7️⃣</div>
      <div>7️⃣</div>
      <div>7️⃣</div>
      <div>= ${{ betResultA }}</div></a
    >
  </div>

  <div
    class="btn"
    [ngClass]="{
      spredItems: itemB === true
    }"
  >
    <a>
      <div>🍊</div>
      <div>🍊</div>
      <div>🍊</div>
      <div>= ${{ betResultB }}</div></a
    >
  </div>

  <div
    class="btn"
    [ngClass]="{
      spredItems: itemC === true
    }"
  >
    <a>
      <div>🍉</div>
      <div>🍉</div>
      <div>🍉</div>
      <div>= ${{ betResultC }}</div></a
    >
  </div>

  <div
    class="btn"
    [ngClass]="{
      spredItems: itemD === true
    }"
  >
    <a
      ><div>🍒</div>
      <div>🍒</div>
      <div>🍒</div>
      <div>= ${{ betResultD }}</div></a
    >
  </div>

  <div
    class="btn"
    [ngClass]="{
      spredItems: itemE === true
    }"
  >
    <a
      ><div>7️⃣</div>
      <div>7️⃣</div>
      <div>❓</div>
      <div>= ${{ betResultE }}</div></a
    >
  </div>

  <div
    class="btn"
    [ngClass]="{
      spredItems: itemF === true
    }"
  >
    <a
      ><div>🍊</div>
      <div>🍊</div>
      <div>❓</div>
      <div>= ${{ betResultF }}</div></a
    >
  </div>

  <div
    class="btn"
    [ngClass]="{
      spredItems: itemG === true
    }"
  >
    <a
      ><div>🍉</div>
      <div>🍉</div>
      <div>❓</div>
      <div>= ${{ betResultG }}</div></a
    >
  </div>

  <div
    class="btn"
    [ngClass]="{
      spredItems: itemH === true
    }"
  >
    <a
      ><div>🍒</div>
      <div>🍒</div>
      <div>❓</div>
      <div>= ${{ betResultH }}</div></a
    >
  </div>
</div>
