* {
  margin: 0;
  padding: 0;
  box-sizing: border-border;
  font-family: "Roboto", sans-serif;
}
.container {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 5% 1% 5%;
  padding: 0;
  border-bottom: 1px solid #e1e1e1;
}
.container .btn {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
}
.container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #444;
  z-index: 1;
  font-weight: 500;
  letter-spacing: 1;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.container .btn:hover a {
  letter-spacing: 3px;
}

.spredItems {
  letter-spacing: 3px;
  transform: translateY(-50%);
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.15), transparent);
  transform: skewx(45deg) translatex(0);
  transition: 0.5s;
}
.container .btn:hover a::before {
  transform: skewx(45deg) translatex(200%);
}
.container .btn:before {
  content: "";
  position: absolute;
  left: 40%;
  width: 30px;
  height: 10px;
  transition: translatex(-50%);
  bottom: -5px;
  transition: 0.5s;
  background: red;
  transition-delay: 0;
}
.container .btn:hover::before {
  left: 40%;
  bottom: 0;
  height: 50%;
  width: 30px;
  transition-delay: 0.5s;
}
.container .btn:after {
  content: "";
  position: absolute;
  left: 40%;
  width: 30px;
  height: 10px;
  transition: translatex(-50%);
  top: -5px;
  transition: 0.5s;
  background: red;
  transition-delay: 0;
}
.container .btn:hover:after {
  left: 40%;
  top: 0;
  height: 50px;
  width: 30px;
  transition-delay: 0.5s;
}
.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after {
  background: #1462b6c4;
  box-shadow: 0 0 5px #1462b6c4, 0 0 15px #1462b6c4, 0 0 30px #1462b6c4,
    0 0 60px #1462b6c4;
}
.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after {
  background: #ff02d5;
  box-shadow: 0 0 5px #ff02d5, 0 0 15px #ff02d5, 0 0 30px #ff02d5,
    0 0 60px #ff02d5;
}
.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after {
  background: #00ff77;
  box-shadow: 0 0 5px #00ff77, 0 0 15px #00ff77, 0 0 30px #00ff77,
    0 0 90px #00ff77;
}
.container .btn:nth-child(4)::before,
.container .btn:nth-child(4)::after {
  background: red;
  box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 90px red;
}
.container .btn:nth-child(5)::before,
.container .btn:nth-child(5)::after {
  background: yellow;
  box-shadow: 0 0 5px yellow, 0 0 15px yellow, 0 0 30px yellow, 0 0 90px yellow;
}
.container .btn:nth-child(6)::before,
.container .btn:nth-child(6)::after {
  background: blue;
  box-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 30px blue, 0 0 90px blue;
}
.container .btn:nth-child(7)::before,
.container .btn:nth-child(7)::after {
  background: rgb(245, 167, 0);
  box-shadow: 0 0 5px rgb(245, 167, 0), 0 0 15px rgb(245, 167, 0),
    0 0 30px rgb(245, 167, 0), 0 0 90px rgb(245, 167, 0);
}
.container .btn:nth-child(8)::before,
.container .btn:nth-child(8)::after {
  background: rgb(40, 202, 11);
  box-shadow: 0 0 5px rgb(40, 202, 11), 0 0 15px rgb(40, 202, 11),
    0 0 30px rgb(40, 202, 11), 0 0 90px rgb(40, 202, 11);
}

//---------------Media-----------------

@media screen and (max-width: 460px) {
  .container .btn {
    width: 140px;
    height: 40px;
  }
  .container .btn a {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  .container .btn {
    width: 120px;
    height: 40px;
  }
  .container .btn a {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 370px) {
  .container .btn {
    width: 100px;
    height: 40px;
  }
  .container .btn a {
    font-size: 10px;
  }
}

@media screen and (max-width: 330px) {
  .container .btn {
    width: 90px;
    height: 40px;
  }
  .container .btn a {
    font-size: 8px;
  }
}
